/* Estilos para el botón */
#countButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

#in{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

#countButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Estilos para el cuadro de resultado */
#result {
    margin-top: 10px;
    font-weight: bold;
}

/* Estilos para el cuadro de texto */
#inputText {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
